@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(202, 202, 255);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Outfit', sans-serif;
}

.container{
    border: 1px solid black;
    border-radius: 35px;
    height: 535px;
    width: 424px;
    margin-top: 120px;
    background-color:  hsl(0, 0%, 100%);
}

.img-1{
    display: flex;
    margin: 35px;
    margin-top: 16px;
}

.heading{
   font-size: 33px;
   margin: 12px;
   margin-top: -30px;
   padding: 15px;
   font-weight: 400px;
}

.paragraph{
    font-size: 16px;
    margin: 12px;
    padding: 16px;
}

.img{
    margin-bottom: 12px;
    border-radius: 30px;
    height: 350px;
    width: 362px;
}